* {
  margin: 0;
  padding: 0;
  box-sizing: border-box 
}
html {
  height: 100vh;
}

body { 
  font-family: "IBM Plex serif";  
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #d9e2db;

    
}

header {
  background-color: #1a3a16;
  padding: 1rem;  
  width: 100%;
  top: 0;
  min-height: 20;
  
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: IBM Plex serif;
}

.nav-links a:hover {
  color: #ddd;
}

main {
  margin-top: 0px;
  
  text-align: center;  
  background-image: url("https://i.imgur.com/oEEkG1Y.png")!important;
  opacity: .8;
    background-size:auto;
    background-position: center;
    background-size: contain;
    

    background-repeat:no-repeat;
    height: 100%;

    box-sizing: border-box;
    
}

section {
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin: 1.5rem 0 1rem;
  font-size: 1.5rem;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.menu-items {
  text-align: center;
}

.menu-item {
  margin-bottom: 1.5rem;
}

.menu-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.menu-item .price {
  font-weight: bold;
  color: #555;
}

.menu-item .description {
  font-style: italic;
  /*color: #666;*/
  color: black;
}

.menu-item .addons {
  margin-top: 0.3rem;
color: #777;
  
  
  
}

.landing {
  padding: 4rem 2rem;
}

.menu-item{
  background-color: #d9e2db;
  margin-bottom:25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  border-radius: 8x;
  opacity: .85;
  
}
.menu-item:hover {
  opacity: 1.0;
}
#whiskey{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
}
#scotch{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;      
}
#vodka{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;      
}
#gin{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;      
}
#tequila{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;      
}
#rum{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;      
}
#about a{
  text-decoration: none;
}

